mixin commentItem(comment)
   .comment-thread(class=comment.replies && comment.replies.length > 0 ? 'has-replies' : '')
        .comment-body
            .comment-left
                img.avatar(src="/images/none-avatar.svg" alt="User Avatar")
            .comment-right
                .comment-info
                    a.name(href="/user/" + comment.user.id)= comment.user.name
                    span.dot •
                    span.time= comment.elapsedTime
                    button.icon-btn(type="button" onclick="toggleMenu(this)")
                        img.options(src="/images/icons/three-vertical-dots.svg" alt="Options Icon")
                    ul.dropdown-menu 
                        li 
                            a(href="#" style="color: red;") Report comment
                .role= comment.user.role

                p.comment-text= comment.content

                .comment-footer
                    .interactions
                        button.upvote 
                            img.vote-icon(src="/images/icons/up-vote.svg" alt="Upvote Icon")
                        span.vote-count 
                            span= comment.votes
                        button.downvote 
                            img.vote-icon(src="/images/icons/down-vote.svg" alt="Downvote Icon")
                    a.answers(href="/")
                        img.answer-icon(src="/images/icons/chat-left.svg" alt="Answer Icon")
                        a.reply(href="#") Reply

        // REPLIES    
        if comment.replies
            .replies
                each reply in comment.replies
                    +commentItem(reply)