aside.sidebar-left
    .sidebar-card
        .sidebar-card-header
            h3.sidebar-title Categories
            button.sidebar-toggle(type="button", aria-label="Toggle categories", aria-expanded="false")
                span.bar
                span.bar
                span.bar
        ul.category-list
            a(href=removeQueryParam(req.originalUrl, 'category'))
                li.category-item(class={active: !req.query.category})
                    span All Categories
                    .active-indicator
            a(href=addQueryParam(req.originalUrl, 'category', 'question'))
                li.category-item(class={active: req.query.category === 'question'})
                    span Questions
                    .active-indicator
            a(href=addQueryParam(req.originalUrl, 'category', 'advice'))
                li.category-item(class={active: req.query.category === 'advice'})
                    span Advice
                    .active-indicator
            a(href=addQueryParam(req.originalUrl, 'category', 'survey'))
                li.category-item(class={active: req.query.category === 'survey'})
                    span Surveys
                    .active-indicator
            a(href=addQueryParam(req.originalUrl, 'category', 'discussion'))
                li.category-item(class={active: req.query.category === 'discussion'})
                    span Discussions
                    .active-indicator
    .sidebar-card
        .sidebar-card-header
            h3.sidebar-title Communities
            button.sidebar-toggle(type="button", aria-label="Toggle communities", aria-expanded="false")
                span.bar
                span.bar
                span.bar
        ul.community-list

            each community in content.topCommunities
                li.community-item
                    a(href="/community/" + community.id)
                        img.cover(src="/images/default-community-cover.svg" alt="Community Image")
                    a(href="/community/" + community.id).title= community.name
