extends ../layout

block head 
    link(rel="stylesheet", href="/styles/user-profile.css")

block content
    .profile-info
        .left 
            .profile-photo-wrapper
                .profile-photo(data-id=user.id onclick="triggerFileInput()" class=user.id === content.session.user.id ? "enabled" : "" style="position: relative;")
                    .loading-overlay#loadingOverlay
                        .spinner
                    if user.images && user.images.length > 0
                        .enabled
                            img#avatar(src=`https://owres.org/roestack/${user.images[0].url}` alt=user.name loading="lazy")
                    else 
                        .enabled
                            img#avatar(src="/images/none-avatar.svg" alt="User Avatar")
                    
                    if user.id === content.session.user.id
                        //- Hidden file input
                        input#avatarInput(type="file" accept="image/*" style="display: none;" onchange="handleFileSelect(this)")
                    
                    //- Progress bar (shown during upload)
                    .progress-container(style="display: none;")
                        #progressBar(style="width: 0%; height: 5px; background: green;")
            .name-role
                h2= user.name
                h3= user.role
        .right      
            .posts-counter
                h3= user.amountPosts              
                if user.amountPosts === 1
                    p Post
                else    
                    p Posts   
            .meatballs
                .dropdown 
                    button.icon-btn(type="button" onclick="toggleMenu(this)")
                        i.fa-solid.fa-ellipsis-vertical  

                    ul.dropdown-menu 
                        li 
                            a(href="#") Message 

                        li 
                            a(href="#") Modify

                        li 
                            a(href="#") Report

                        if content.session.user.id == user.id 
                            li 
                                a(href="/logout" style="color: red;") Logout
    .about-me
        h3.about-title About me
        p= user.bio
    .divider
        p(style="display: inline-block; margin-right: 4px;") Sort by:
        button.sort-btn(type="button" onclick="toggleMenu(this)")
            p #{activeSort}
            i.fa-solid.fa-angle-down
        
        ul.dropdown-menu 
            li 
                a(href="${currentPath}?sortby=latest") Latest

            li 
                a(href="${currentPath}?sortby=popular") Popular

            li 
                a(href="${currentPath}?sortby=oldest") Oldest
    .line

    .posts 
        each post in posts
            div(style= "margin-bottom: 1rem") 
            include ../partials/post.pug
            div(style= "margin-bottom: 1rem") 

block scripts
    script(src="/js/profile-page.js" defer)
