extends ../layout

block head
    link(rel="stylesheet", href="/styles/comment.css")

block content
    .post-box 
        .top-section
            .left-side
                //a(href="/users/" + user.id)
                img.avatar(src="/images/none-avatar.svg" alt="User Avatar")
                .user-info
                    .top-line
                        a.username(href="/user/" + post.user.id)= post.user.name
                        span.dot •
                        span.post-time= post.elapsedTime
                    .role Student
            .right-side
                .container 
                    a.community-name(href="/community/" + post.community.id)= post.community.name
                    .category-box
                        img.category-icon(src="/images/icons/question-icon.svg" alt="Category Icon")
                        span.category-name Question
                        //post.category
                button.icon-btn(type="button" onclick="toggleMenu(this)")
                    img.options(src="/images/icons/three-vertical-dots.svg" alt="Options Icon")
                ul.dropdown-menu 
                    li 
                        a(href="#" style="color: red;") Report post      
        h2.post-title= post.title
        .post-content 
            p= post.content
        .post-footer
            .left-side 
                .interactions
                    button.upvote(
                        data-id=post.id,
                        class=post.currentUserVote === 1 ? "active" : ""
                        )
                        img.vote-icon(src="/images/icons/up-vote.svg" alt="Upvote Icon")

                    span.vote-count 
                        span= post.amountVotes

                    button.downvote(
                        data-id=post.id,
                        class=post.currentUserVote === -1 ? "active" : ""
                        )
                        img.vote-icon(src="/images/icons/down-vote.svg" alt="Downvote Icon")
                .answers
                    img.answer-icon(src="/images/icons/chat-left.svg" alt="Answer Icon")
                    span.answer-count= post.answersCount + " answers"
        .form-answer
            input.main-answer(type="text" placeholder="Write your answer...")
            button.answer-btn(disabled) Post Your Answer
        .divider
            p.sort-label Sort by:  
            button.sort-btn(type="button" onclick="toggleMenu(this)")
                p Best
                i.fa-solid.fa-angle-down
            
            ul.dropdown-menu 
                li 
                    a(href="#" data-sort="best") Best 

                li 
                    a(href="#" data-sort="latest") Latest

                li 
                    a(href="#" data-sort="oldest") Oldest
        .line
        include ../partials/comment
        .answers-section
            each comment in comments
                +commentItem(comment)
block scripts
    script(src="/js/comment.js" defer)